body {
    background: url(/home/chillwave/the-odin-project/TOPpictures/kungfu-faceoff.jpg) bottom center;
    background-size: cover;
    height: 100vw;
    width: auto;
    background-repeat: no-repeat;
    
    
}
.title {
    margin: auto;
    width: 50vw;
    border: 10px double cyan;
    border-radius: 30px;
    background: rgb(178, 199, 199);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgb(231, 63, 12);
}
.butContainer {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 5px dotted cyan;
    padding: 10px;
}
.cButton {
    border-radius: 50%;
}